ANILIST_CLIENT_ID=<anilist-client-id>
ANILIST_SECRET=<anilist-client-secret>
REDIRECT_URL=http://127.0.0.1:8000/authorized
DATABASE_URL=postgres://postgres:postgres@127.0.0.1:5432/annie_mei
ROCKET_SECRET_KEY=<rocket-secret-key>
SENTRY_DSN=
